.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loaderBackground {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 250ms ease-in-out;
}

.loaderBackground > div {
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 100px);
  left: auto;
}

.fixedMenu {
  position: fixed;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  top: 70px;
  left: 0;
}

.fixedMenu .Select-control {
  text-align: left;
  padding-left: 16px;
}
